<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://www.otsuka.co.id/themes/otsuka/assets/img/otsuka_logo_big.png" class="img-fluid"
                    style="height: 200px; width:fit-content;" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 p-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>