<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <p>Add actor data</p>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="data.first_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.last_name">
  </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="{first_name: data.first_name, last_name: data.last_name}" cdkFocusInitial>Add</button>
</div>

