<div class="container p-5">

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <app-top10-customer></app-top10-customer>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <app-daily-income></app-daily-income>
          </div>
        </div>
      </div>
      <!-- <div class="col">
        <div class="card">
          <div class="card-body">
            <app-film-distribution-by-category></app-film-distribution-by-category>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <app-top-film-language></app-top-film-language>
          </div>
        </div>
      </div> -->
    </div>
  </div>

</div>