#chart {
  height: 400px;
}

#chart-container1 {
  height: 400px;
}

#chart-container2 {
  height: 400px;
}
#chart-container3 {
  height: 400px;
}

#chart-container4 {
  height: 400px;
}

#chart-container5 {
  height: 400px;
}

#chart-container6 {
  height: 400px;
}

#chart-container7 {
  height: 400px;
}

#chart-container8 {
  height: 400px;
}
